<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibGen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    nav{
      display: flex;
      border-bottom: 1px solid #ddd;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    #page-container {
    position: relative;
    min-height: 100vh;
    }

    #content-wrap {
      padding-bottom: 2.5rem;    /* Footer height */
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
    }
    body {
      margin-bottom:50px;
    }
    a.single {
      color: #000;
      text-decoration: none;
    }
    a.single:hover {
      color: var(--bs-link-color);
    }
    .section:hover {
      background-color: #fff;
    }
    .col-6 {
    flex: 0 0 auto;
    width: 50%;
}
  .error-card {
    border: none;
  }
  a.nav-link.active {
    border-bottom: 3px solid #fff;
  }

  </style>
</head>