<nav>
  <div class="site-title">
    <a href="/"><h1>LibGen</h1></a>
    <p>Library Genesis</p>
  </div>
  <ul>
    <li><a href="/browse">Browse</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/login">Login/Register</a></li>
  </ul>
</nav>