<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="row">
    <div class="col-12 p-5">
      <div class="card error-card bg-light">
        <div class="card-body">
          <p>You entered the wrong password! <br><br>
            Try to <a href="/login">login</a> again
          </p>
          <p>Or 
             <a href="/register">register here</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/script.ejs") %>
</body>
</html>